@font-face {
  font-family: hack;
  src: url('./Hack-Regular.ttf');
}

@font-face {
  font-family: menlo;
  src: url('./Menlo-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('./OpenSans-Regular.ttf');
}
