.os-theme-custom {
  --os-handle-interactive-area-offset: 0;
  --os-handle-bg: rgba(0, 0, 0, 0.2);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.3);
  --os-handle-bg-active: rgba(0, 0, 0, 0.3);
  --os-handle-border-radius: 0;
  --os-padding-axis: 0;
  --os-padding-perpendicular: 0;
  --os-size: 4px;
}
