@font-face {
  font-family: hack;
  src: url('./Hack-Regular.ttf');
}

@font-face {
  font-family: menlo;
  src: url('./Menlo-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  font-weight: 400;
  src: url('./OpenSans-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  font-weight: 500;
  src: url('./OpenSans-Medium.ttf');
}

@font-face {
  font-family: open-sans;
  font-weight: 700;
  src: url('./OpenSans-Bold.ttf');
}

@font-face {
  font-family: helvetica-neue;
  font-weight: 500;
  src: url('./HelveticaNeueMedium.otf');
}
